/* variables */
:root{
    --bg-primary:#0B1020;
    --bg-secondary:#161E33;
    --card:#202A40;
    --fondo2:#1a273f;
    --fondo1:#0c1a3d;

    --purple:#7C3AED;
    --purple-hover:#6D28D9;

    --text:#FFFFFF;
    --text-light:#B7C2D3;

    --border:#2F3A56;

    --radius:18px;

    --transition:.25s ease;
}

/* reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Configuración general */
body {
    background:var(--bg-primary);
    color:var(--text);
    font-family:Arial, Helvetica, sans-serif;/* fuente */
    line-height:1.6;/* espaciado entre lineas */
}

/* imagenes */
img{
    max-width:100%;
    display:block;
}

/* Barra de navegación */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;
    background:var(--bg-secondary);
}

/* Barra de navegación titulo */
nav h2 {
    margin: 0;
    color: #A78BFA; /* Morado claro para resaltar el logo */
    font-size: 1.6rem;
    cursor:pointer;
}

/* Barra de navegación ul */
nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Barra de navegación li */
nav ul li {
    cursor: pointer;
    font-weight: 500;
    color: #9CA3AF;
    transition: color 0.3s ease;
}
nav ul li:hover {
    color:var(--purple); /* Cambia a morado al pasar el mouse */
}

/* partes en comun */
.card {
    background: var(--card);
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 25px;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    border-color: var(--purple);
}

/* fin de partes en comun */

/* Sección de Bienvenida */
.hero-section {
    background: #07142f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    min-height: 75vh;
    padding: 80px 20px;
}

.hero-section h1 {
    font-size: clamp(2.5rem, 6vw, 4.5rem);
    font-weight: 800;
    letter-spacing: -2px;
    margin-bottom: 20px;
    max-width: 900px;
}

.hero-section p {
    font-size: 1.2rem;
    color: var(--text-light);
    max-width: 650px;
    margin-bottom: 40px;
    line-height: 1.8;
}

.hero-section button {
    background: var(--purple);
    color: white;
    border: none;
    padding: 15px 35px;
    border-radius: 999px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.hero-section button:hover {
    background: var(--purple-hover);
    transform: translateY(-3px);
    box-shadow: 0 10px 30px rgba(124, 58, 237, 0.4);
}


/* Sección de Artistas */
.artists-section {
    height: auto;
    padding: 60px 20px;
    background-color:#030b24; 
}
.artists-section h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

/* Rejilla de artistas */
.artists-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    justify-items: center;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* Tarjeta de artistas */
.artist-card {
    padding: 25px;
    width: 250px;
    text-align: center;
}

/* Avatar temporal del artista */
.profile-pic {
    font-size: 3rem;


    width: 90px;
    height: 90px;

    background-color:var(--bg-secondary);

    border-radius: 50%;
    line-height: 80px;

    display:flex;
    justify-content:center;
    align-items:center;

    margin: 0 auto 15px auto;
}

.artist-card h3 {
    margin: 10px 0 5px 0;
}

.specialty {
    color:var(--text-light);
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.price {
    color:var(--purple-hover);
    font-size: 1.1rem;
    margin-bottom: 20px;
}

/* Botón pequeño para las tarjetas */
.btn-sm {
    margin-top:15px;
    padding: 10px 18px;

    background-color: transparent;
    color: white;

    border: 2px solid var(--purple);
    border-radius: 10px;

    cursor: pointer;

    font-size: 0.9rem;
    transition:0.3s;
}
.btn-sm:hover {
    background:var(--purple-hover);
    color:var(--text);
}


/* Sección de ventajas */
.features-section {
    padding: 100px 20px;
    text-align: center;
    background-color: #07142f;
    padding: 80px 20px;
}

/* titulo ventajas */
.features-section h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    color:var(--text);
    text-align: center;
}

/* rejilla de ventajas */
.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* targetas de ventajas */
.features-card {
    background: var(--card-bg);
    padding: 40px 30px;
    text-align: center;
    cursor: pointer;
}

/* icono ventajas */
.feature-icon {
    font-size: 3rem;
    margin-bottom: 20px;
}

/* descripcion ventajas */
.description {
    color: var(--text-light);
    line-height: 1.6;
}


/* Sección de categorias */
.category-section {
    text-align: center;
    padding: 80px 20px;
    background-color:#030b24;
}

/* rejilla de categorias */
.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 50px auto 0;
}

/* targetas de categorias */
.category-card {
    padding: 40px 20px;
    cursor: pointer;
}

/* icono de categorias */
.category-icon {
    font-size: 3rem;
    margin-bottom: 20px;
}

/* targeta pero especial de categorias */
/*no se unio a partes en comun porq es mas especial */
.explore-card{
    background: var(--card);
    max-width: 700px;
    margin: 50px auto 0;
    padding: 50px;
    border-radius: 25px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}

.explore-card:hover{
    transform: translateY(-10px);
    border: 1px solid var(--purple);
}


/* Sección de pasos */
.step-section {
    padding: 100px 20px;
    text-align: center;
    background-color: #07142f;
    padding: 80px 20px;
}

/* titulo pasos */
.step-section h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    color:var(--text);
    text-align: center;
}

/* rejilla de pasos */
.step-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 50px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* targetas de pasos */
.step-card {
    background: var(--card-bg);
    padding: 40px 30px;
    text-align: center;
    cursor: pointer;
}

/* nuemeros de pasos */
.step-number {
    font-size: 2.3rem;
    margin-bottom: 20px;
    position: absolute;
    opacity: 0.5;
}

/* iconos de pasos */
.step-icon {
    font-size: 4rem;
    margin-bottom: 20px;
    position: relative;
}